app/resources/licenses/MuseScore_General/LICENSE.md -text
app/resources/licenses/MuseScore_General/README.md -text
app/resources/licenses/MuseScore_General/SAMPLE_SOURCES.csv -text
app/resources/licenses/MuseScore_General/VERSION -text
